
html, body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 0.5em;
}

#mapcode, #imagelink {
    background-color: #cccccc;
    padding: 0.5em;
}

#mapobj {
    margin: 0.5em;
    padding: 0.5em;
}

#mapobj {
    border-color: black;
    border-style: solid;
}